{#
/**
 * @file
 * Template for landing pages.
 */
#}
<div class="page page_landing_alt">
  {% embed '@penn_starter/navbar/navbar.twig' with {
    placement: 'sticky-top',
    container: 'fixed',
    color: 'light',
    utility_classes: ['bg-light'],
  } %}


  {% block branding %}
  {% if page.navbar_branding %}
  {{ page.navbar_branding }}
  {% endif %}
  {% endblock %}

  {% block left %}
  {% if page.navbar_left %}
  <div class="mr-auto">
    {{ page.navbar_left }}
  </div>
  {% endif %}
  {% endblock %}

  {% block right %}
  {% if page.navbar_right %}
  {{ page.navbar_right }}
  {% endif %}
  {% endblock %}
  {% endembed %}

  <header class="page__header mb-3 bg-container">
    <div class="container">
      {% if node.field_header_image is not empty %}
        {% set image_url = file_url(node.field_header_image.entity.field_media_image.entity.fileuri|image_style('landing_page_header')) %}
        <img alt="" src="{{ image_url }}" class="landing_page_alt_image" />
      {% endif %}
      <div class="page__header-text-container">
        <h1 class="page__header-title">{{ node.label }}</h1>
        {% if node.field_overview_text is not empty %}
        <p class="page__header-overview">{{ node.field_overview_text.value }}</p>
        {% endif %}
      </div>
    </div>
  </header>
  <main id="main-content" class="pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-12">{{ page.admin }}</div>
      </div>
    </div>
    {% if page.content %}
    <div class="page__content">
      <div class="container">
        {{ page.content }}
      </div>
    </div>
    {% endif %}
  </main>


  <footer class="page__footer">
    <div class="container">
      <div class="row">
        <div class="footer-left">
          {{ page.footer_left }}
        </div>
        <div class="footer-right">
          {{ page.footer_right }}
        </div>
      </div>
      <div class="row">
        <div class="footer-bottom">
          {{ page.footer_bottom }}
        </div>
      </div>
    </div>
</div>
</footer>

</div>
